# Database
DATABASE_URL=postgres://postgres:8j9Kil5kiLVulIaCwSPV0WYrzfn7lTk6e1cCaUxASK1LMm8QgCaRuKsY7spHlH0d@cwg0skg4s8osk0c40kkc8kkk:5432/postgres
DB_SSL=false

# SMTP
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-smtp-user
SMTP_PASS=your-smtp-password
SMTP_TLS_REJECT=false
MAIL_FROM=PROPTREX <noreply@proptrex.com>

# Security

OTP_SALT=Xk7mQ9vTpL2wRjN4bY8cGfE6hA3sD1uZ0iKoJ5xWtCqM7nBrVlFyH9aP4dUeS2g

# Firebase Admin
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_CLIENT_EMAIL=your-service-account@project.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----\n"

# Admin
ADMIN_SECRET=adminsifresi
ADMIN_EMAILS=hlilcvk@gmil.com

# Server
PORT=8080
NODE_ENV=production
